   #t1 {
        font-size:34px;
        text-align: center;
        border :solid 5px #000000 ;
    }

    body, table {
        margin: 0 auto;
        text-align: center;
        width: 50%;
        font-family: courier;
    }

    table {
        border-collapse: collapse ;
        margin-bottom:20px;
    }

    #start {
        font-size:20px;
    }

    #stop {
        font-size:20px;
    }

    #reset {
        font-size:20px;
    }

    #button {
        text-align:center;
    }

    td {
        border :solid 2px #000000 ;
        padding: 16px;
    }

    .confirm {
        background-Color:#FFE2B2;
        color: #B3B8BB;
    }
    .selected {
        background-Color:red;
        color: #000000;
    }